# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.


Plugins>OPM Toolset, "Deskew Image", de.embl.iclm.Deskew
Plugins>OPM Toolset, "Deskew Live", de.embl.iclm.Live2

Plugins>OPM Toolset>Batch Processing, "Deskew", de.embl.iclm.Batch
Plugins>OPM Toolset>Batch Processing, "Generate Projection Image", de.embl.iclm.BatchProjection
Plugins>OPM Toolset>Batch Processing, "Channel Operation", de.embl.iclm.BatchChannelOperation
Plugins>OPM Toolset>Batch Processing, "Deconvolution", de.embl.iclm.BatchDeconvolution
Plugins>OPM Toolset>Batch Processing, "Format conversion", de.embl.iclm.FormatConversion
Plugins>OPM Toolset>Batch Processing, "Terminate...", de.embl.iclm.TerminateBatch

Plugins>OPM Toolset, "OPM Data Viewer", de.embl.iclm.OpmDataViewer

Plugins>OPM Toolset>Deconvolution, "PSF from Beads Image", de.embl.iclm.Deconvolve("psf")
Plugins>OPM Toolset>Deconvolution, "Richardson-Lucy Deconvolution", de.embl.iclm.Deconvolve("deconv")
Plugins>OPM Toolset>Deconvolution, "CLIJ2-FFT deconv", de.embl.iclm.CLIJ2FFTDeconvolution

Plugins>OPM Toolset>Utilities, "Channel Alignment", de.embl.iclm.ChannelAlignment
Plugins>OPM Toolset>Utilities, "Transform", de.embl.iclm.Transform
Plugins>OPM Toolset>Utilities, "Projection", de.embl.iclm.Projection
Plugins>OPM Toolset>Utilities, "Convert to deflated TIFF", de.embl.iclm.FormatConversion("tiff")
Plugins>OPM Toolset>Utilities, "Convert to OME-Zarr", de.embl.iclm.FormatConversion("zarr")
Plugins>OPM Toolset>Utilities, "Export OME-Zarr region to TIFF", de.embl.iclm.FormatConversion("zarr-region")
Plugins>OPM Toolset>Utilities, "Permutation", de.embl.iclm.Permutation
Plugins>OPM Toolset>Utilities, "Environment report", de.embl.iclm.Debug
